*, *::before, *::after {
    box-sizing: border-box;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden; 
    display: flex; 
    justify-content: space-evenly;
}


.left{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    
}

figure img{
    width: 70px;
}

.left figure{
    order: 1 2;
    padding-right: 340px;
}

.text{
    line-height: 20px;
}

.form-right{
    padding-top: 20px;
}


.item select{
    position: relative;
    left: 175px;
    border: none;
    top: -34px; 
}

.item img{
    width: 20px;
    position: relative;
    left: 175px; 
    top: -36px;
}



form {
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 8px  #669999; 
    width: 500px;
} 

.icon {
    position: relative;
    left: 413px;
    top: -34px;
}


input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
   
}
input{
    width: calc(100% - 10px);
    padding: 6px;
    
}
input[type="date"] {
    padding: 4px 5px;
 }

 .item{
    margin: 10px 0;
}


#option{
    position: relative;
    left: 413px; 
    border: none;
}

.colums div {
    width: 48%;
}

.colums {
    display:flex;
    flex-direction: row; 
    flex-wrap:wrap;
}

button{
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #2EC4B6;
    height: 48px;
    text-align: center;
    border: navajowhite;
    margin-top: 30px;
}

span{
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color:  #2EC4B6;
}

footer{
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 768px) {

body{
   background-color: #F7FDFC;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

form{
    width: 250px;
    margin-inline-end: 150px;
    margin-top: 10px;
}

.left{
    padding-top: 30px;
}

figure img{
   width: 70px;
}


.colums div {
    display: flex;
    flex-direction: column;  
    width: 100%; 
}

.item select{
    position: relative;
    left: -20px;
    border: none;
    top: -34px; 
}

#option{
    position: relative;
    left: 162px; 
    border: none;
}

.icon {
    position: relative;
    left: 162px;
    top: -34px;
}


}

@media  (max-width: 480){
    .form-right{
        margin-inline-end: 30px;
    }
 }